/* Scroll Btn */

.scroll {
    background-color: #ccc;
    opacity: 0.5;
    color: #111;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
}

.scroll.hide {
    display: none;
}

/* Containner Row */
.row-wrapper {
    /* --width-row-wrapper: 98.7vw; */
    /* --width-slider-mark: calc(var(--width-row-wrapper) - 8%); */
    --width-film-poster-parrent: 1168px;
    --width-handle-next-prev: 50px;

    position: relative;
    margin: 32px 0;
    background-color: transparent;
    color: #fff;
    /* width: var(--width-row-wrapper); */
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.row-wrapper .row-title {
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin-left: var(--width-handle-next-prev);
}

.row-wrapper .row-container {
    position: relative;
    z-index: 0;
    /* width: var(--width-row-wrapper); */
    background-color: transparent;
}

.row-wrapper .row-container .row-slider {
    position: relative;
    display: flex;
    z-index: 2;
    /* overflow-y: hidden;
    overflow-x: hidden; */
    touch-action: pan-y;
    margin: 0;
    background-color: transparent;
    padding: 0 var(--width-handle-next-prev);
    /* width: var(--width-row-wrapper); */
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}
.row-wrapper .row-container .row-slider.show-peek {
    overflow-x: visible;
}

.slider-handle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-handle-next-prev);
    height: 100%;
    background: hsla(0, 0%, 8%, 0.5);
    cursor: pointer;
    font-size: 30px;
    font-weight: 300;
}

.slider-handle-btn i {
    opacity: 0.5;
}

.slider-handle-btn:hover i {
    opacity: 1;
}

.prev-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
}

.pagination-indicator {
    position: absolute;
    top: 0;
    right: 50px;
    display: flex;
    list-style: none;
}

.pagination-indicator li {
    background-color: #616161;
    width: 10px;
    height: 5px;
    margin: 0 5px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.pagination-indicator li.action {
    background-color: #939393;
    width: 20px;
}

.next-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
}

.slider-mark {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    /* width: var(--width-slider-mark); */
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.slider-mark::-webkit-scrollbar {
    display: none;
}

.movie__item {
    position: relative;
    padding: 0 3px;
    border-radius: 3px;
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.movie__item:hover .action__box {
    display: block;
}

.movie__item .movie__img {
    width: calc(var(--width-film-poster-parrent) / 5);
    border-radius: 3px;
}

.movie__item .row__posterLarge {
    border-radius: 3px;
    width: 130px;
}

/* ================ Action box ============= */
.action__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: none;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    background: rgba(3, 3, 3, 0.5);
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.action .action-item {
    /* display: inline-block; */
    cursor: pointer;
    margin: 0 10px;
}

/* .add-to-my-list {
    margin: 0 20px;
} */

.hide {
    display: none;
}

.show {
    display: inline-block;
}
