.animate {
    animation: page_animation 1s ease;
}

@keyframes page_animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tvShowScreen__Banner {
    position: relative;
    height: 100vh;
    color: #fff;
    user-select: none;
}

.tvShowScreen__lỉnear {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(180deg, transparent, #111);
}

.tvShowScreen__contents {
    position: absolute;
    bottom: 100px;
    left: 100px;
    max-width: 500px;
    width: 100%;
}

.tvShowScreen__film--desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tvShowScreen__movie--genre {
    position: absolute;
    top: 100px;
    left: 100px;
}

.tvShowScreen__RowFilms {
    color: #fff;
    margin: 0 30px;
}

.Row {
    display: flex;
    color: #fff;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowFilm__item {
    margin: 10px 10px;
    transition: all 0.3s linear;
    z-index: 10;
}

.rowFilm__item:hover {
    transform: scale(1.08);
}

.rowFilm__item img {
    height: 250px;
}
