.profileScreen {
    position: relative;
    width: 100%;
    height: 100vh;
}

.profileScreen__body {
    max-width: 800px;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profileScreen__title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.profileScreen__info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.profileScreen__userEmail {
    font-size: 20px;
    font-weight: 400;
    background-color: #ccc;
    padding: 5px 10px 10px 10px;
    color: #333;
    border-radius: 10px;
}

.profileScreen__plan {
    margin: 10px 0 0 0;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

.profileScreen__userLogo {
    width: 150px;
    border-radius: 10px;
    /* margin-right: 20px; */
}

.profileScreen__signOutBtn {
    width: 100%;
}

/* ====== PACKAGE INFO ========= */

.package {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    opacity: 0.8;
}

.package:hover {
    opacity: 1;
}

.package__info h3 {
    margin: 5px 0;
    font-weight: 500;
    font-size: 20px;
}

.package__info h4 {
    margin: 5px 0;
    font-weight: 400;
    font-size: 14px;
}

.package a {
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px 10px;
    background-color: var(--netflix-btn-color);
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
/* 
.package a:hover {
    border: 3px solid #ccc;
} */

.package .active__btn {
    background-color: #ccc;
    color: #333;
}

.package .active__btn:hover {
    border: 3px solid var(--netflix-btn-color);
}