.signInScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    text-align: left;
    animation: Slider 0.4s ease-in;
}

@keyframes Slider {
    0% {
        opacity: 0;
        top: 80%;
    }

    100% {
        opacity: 1;
        top: 50%;
    }
}

.signInForm__title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 45px;
    animation: text-animate 1.5s ease;
}

@keyframes text-animate {
    0% {
        opacity: 0;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

#singin__email--input,
#singin__password--input {
    display: block;
    margin: 10px 0;
    height: 30px;
    width: 100%;
    padding: 17px 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    color: #fff;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}

.left {
    animation: slider_Left 1.5s ease;
}

@keyframes slider_Left {
    0% {
        opacity: 0;
        left: 100px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.right {
    animation: slider_Right 1.5s ease;
}

@keyframes slider_Right {
    0% {
        opacity: 0;
        right: 100px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

#singin__email--input {
    margin-bottom: 10px;
}

#singin__password--input {
    border-radius: 5px;
}

.show__password {
    display: inline-block;
    height: 100%;
    text-align: right;
}

.singIn__btn {
    margin-top: 30px;
}

.signup-wrap {
    margin-top: 13px;
}

.gray {
    color: gray;
    font-size: 18px;
    font-weight: 500;
}

.link {
    font-size: 18px;
    margin-left: 10px;
    font-weight: 500;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.showPass__box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
}

#showPassword {
    width: 17px;
    height: 17px;
    transform: translateY(13%);
    margin-right: 4px;
    cursor: pointer;
}

/* Xử lý animation input */

.signIn-box {
    position: relative;
    margin: 6px 0;
}

.signIn__label {
    position: absolute;
    top: 50%;
    left: 0;
    user-select: text;
    font-size: 16px;
    color: #ccc;
    transition: all 0.2s linear;
}

.input-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    transition: all o.2s linear;
}

/* .signIn-box input:focus ~ .signIn__label,
.signIn-box input:not(:placeholder-shown) ~ .signIn__label {
    top: -12px;
    font-size: 18px;
    background-color: transparent;
    padding: 0 3px;
} */

.signIn-box input:focus + .signIn__label .input-content,
.signIn-box input:valid + .signIn__label .input-content {
    transform: translateY(-150%);
    left: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    font-size: 20px;
}

/* forgot password */
.forgot-pasword {
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
}

.forgot-pasword:hover {
    color: rgb(145, 208, 243);
}

/* other */
svg {
    top: 0px !important;
}

.signIn-other-wrap {
    margin-top: 30px;
    padding: 13px 0 0 0;
    border-top: 1px solid #ccc;
    position: relative;
}

.signIn-other-wrap p {
    text-align: center;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.signIn-other-wrap .wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    cursor: pointer;
}
