ul {
    list-style: none;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    z-index: 10;

    transition: all 0.3s ease-in;
}

.nav__black {
    background-color: #111;
}

.nav__black--gradien {
    background-image: linear-gradient(180deg, #111, #111, transparent);
}

.nav__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

.nav-box {
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 100px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}


.nav__list {
    list-style: none;
    margin-left: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.nav__list--item {
    padding: 0 10px;
    cursor: pointer;
    color: #cbcbcb;
    transition: all 0.3s linear;
}

.nav__list--item.active {
    color: #fff;
}

.nav__list--item:hover {
    color: #9e9898;
}

.nav__user--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.for__kid {
    margin: 0 20px;
}

.nav__avatar {
    border-radius: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 20px;
}

a {
    color: #b2b1b1;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

a:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in;
}

a.active {
    color: var(--netflix-btn-color);
    text-decoration: underline;
}

/* Hộp Thông báo */

.notification {
    cursor: pointer;
    padding: 0 5px;
    
}

.notification:hover .notificaion__list 
{
    display: block;
}

.notify__icon {
    cursor: pointer;
}

.notificaion__list {
    position: absolute;
    background-color: #333;
    text-align: center;
    color: #fff;
    border-top: 3px solid #fff;
    opacity: 0.9;
    width: 400px;
    max-height: 300px;
    z-index: 100;
    will-change: opacity, transform;
    top: 120%;
    right: 7%;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    display: none;

}

.notificaion__list::before {
    position: absolute;
    content: '';
    border-width: 11px 25px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -23px;
    right: 17px;
}

.notificaion__list::after {
    position: absolute;
    content: '';
    border-width: 20px 90px;
    border-style: solid;
    top: -35px;
    right: 8px;
    border-color: transparent transparent transparent transparent;
    cursor: default;
}

.notify__list--title {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;

}

.notificaion__list--body {
    display: block;
    padding-bottom: 20px;
    overflow-y: auto;
}

.notificaion__list--body h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Notification item box */
.notif__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 15px;
    border-bottom: 1px solid #ccc;
}
.notif__item:hover {
    opacity: 1;
    background-color: #111;
}

.notif__item:hover h3{
    color: #fff;
}

.notif__item--img {
    width: 120px;
    height: 70px;
    margin-right: 20px;
    border-radius: 5px;
}

.notif__item--text {
    text-align: left;
}

.notif__item--text h3{
    font-size: 15px;
    color: #dfdfdf;
}

.notif__item--text p{
    font-size: 13px;
    color: #9e9898;
}


